<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mantenimiento de Películas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

</head>
<body>

<div class="container">

    <div class="mt-3 mb-4">
        <h3 class="text-center">MANTENIMIENTO DE PELICULAS</h3>
    </div>

    <div class="mb-4 d-flex ">
        <a href="/maintenance/add" class="btn btn-primary btn-lg">
            <i class="bi bi-plus-circle"></i> Nuevo film
        </a>
    </div>

    <table class="table table-success table-striped">
        <thead class="table-dark">
        <tr>
            <th>Código</th>
            <th>Título</th>
            <th>Idioma</th>
            <th>Tiempo de alquiler</th>
            <th>Precio de alquiler</th>
            <th colspan="2" class="text-center">Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="film : ${films}">
            <td>
                <a th:href="@{/maintenance/detail/{id}(id=${film.filmId()})}" th:text="${film.filmId()}"
                   class="text-decoration-none text-info fw-bold"></a>
            </td>
            <td th:text="${film.title()}"></td>
            <td th:text="${film.language()}"></td>
            <td th:text="${film.rentalDuration()}"></td>
            <td th:text="${film.rentalRate()}"></td>
            <td class="text-center">

                <a th:href="@{/maintenance/edit/{id}(id=${film.filmId()})}" class="btn btn-warning btn-sm">
                    <i class="bi bi-pencil-square"></i> MODIFICAR
                </a>
            </td>
            <td class="text-center">

                <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal"
                        th:data-bs-target="'#deleteModal_' + ${film.filmId()}">
                    <i class="bi bi-trash-fill"></i> ELIMINAR
                </button>
            </td>
        </tr>
        </tbody>
    </table>


    <div th:each="film : ${films}"
         th:id="'deleteModal_' + ${film.filmId()}"
         class="modal fade" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Confirmar Eliminación</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ¿deseas eliminar? <b th:text="${film.title()}"></b>?
                </div>
                <div class="modal-footer">

                    <a th:href="@{/maintenance/delete/{id}(id=${film.filmId()})}" class="btn btn-danger">
                        Confirmar
                    </a>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>
</html>
